.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    padding: rem(10px) 0;
    background-color: #2f3234;

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-image: url('/img/bg-footer.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
    }

    .container {
        z-index: 100;

        @include mobile {
            flex-direction: column;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
    }

    &__svg {
        margin-right: rem(5px);
    }

    &__right, 
    &__left {
        flex: 1 1 50%;

        @include mobile {
            flex: auto;
            text-align: center;
            margin-bottom: 15px;

        }
    }

    &__address {
        font-weight: lighter;
        font-size: rem(14px);
        margin-bottom: rem(10px);

        @include mobile {
            margin-bottom: 0;
        }
    }

    &__phone {

    }

    &__number {
        font-size: rem(14px);
        font-weight: bold;
        color: $orange;
        fill: $orange;
        display: flex;

        @include mobile {
            justify-content: center;
        }
    }
}