.hamburger-menu {
	width: 30px;
	height: 30px;
	align-items: center;
	overflow: hidden;
	transition: all 1s;
	display: none;

	@include tablets {
		display: flex;
		z-index: 999999;
	}

	&--active {

		.hamburger-menu__link:after {
			transform: rotate(-45deg);
			transition: all .3s;
			top: 0;
		}

		.hamburger-menu__link:before {
			transform: rotate(45deg);
			transition: all .3s;
			top: 0;
		}

		.hamburger-menu__line {
			transform: translateX(50px);
		}
	}

		&__line{
			display: block;
			width: 100%;
			height: 5px;
			background-color: white;
			border-radius: 4px;
			position: relative;
			transition: all .3s;
		}

		&__link {
			display: block;
			width: 100%;
			height: 5px;
			border-radius: 4px;
			position: relative;
			transition: all .3s;
			

			&:before {
				content: "";
				width: 100%;
				height: 5px;
				background-color: white;
				border-radius: 4px;
				position: absolute;
				top: -10px;
				left: 0;
				transition: all .3s;
			}

			&:after {
				content: "";
				width: 100%;
				height: 5px;
				background-color: white;
				border-radius: 4px;
				position: absolute;
				top: 10px;
				left: 0;
				transition: all .3s;
			}
		}

}