.videoplayer-section {
  @include theme($dark-theme: false);
  background-image: url('../img/bg-video.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container {
    flex-direction: column;

    h2 {
      margin-bottom: rem(50px);
      color: #2f3234;
    }
  }
}

.videoplayer__wrapper {
  width: 100%;

  @include tablets {
    width: 100%;
  }
}

.videoplayer {
  position: relative;
}

.videoplayer__playback {
  position: relative;
  flex: 1;
  height: 100%;

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: gray;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
  }
}

.videoplayer__playback-button {
  border: 0;
  background-color: gray;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  position: relative;
  left: 0;
  transform: translatex(-50%);

  &:focus {
    outline: none;
  }
}

.videoplayer__controls {
  background-color: #2f3234;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 5px;
}

.videoplayer__duration {
  color: gray;
}

.videoplayer__start {
  border: none;
  fill: gray;
  background-color: transparent;
}

.videoplayer__start {
  padding: 0 rem(20px);
  width: 20px;
  height: 20px;
  display: block;
  position: relative;

  &:focus {
    outline: none;
  }
}

.videoplayer__btn {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  fill: gray;
  color: gray;
  
  &:hover {
    cursor: pointer;
  }
}

.videoplayer__btn--play {
  fill: gray;
  visibility: visible;
}

.videoplayer__btn--pause {
  fill: gray;
  visibility: hidden;
}

.paused {
  .videoplayer__btn--pause {
    visibility: visible;
  }

  .videoplayer__btn--play {
    visibility: hidden;
  }

  .videoplayer__splash {
    visibility: hidden;
  }
}

.videoplayer__splash {
  visibility: visible;
  position: absolute;
  display: block;
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    cursor: pointer;
  }

  .videoplayer__btn--play{
      fill: #000000c4;  
  }
}

.videoplayer__volume {
  position: relative;
  flex: 1;
  height: 100%;

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: gray;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
  }
}

.videoplayer__audio {
  display: flex;
  align-items: center;
  width: 15%;
  margin-left: rem(20px);
  margin-right: rem(20px);
}

.videoplayer__volume-button {
  border: 0;
  background-color: gray;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  position: relative;
  left: 0;
  margin-right: 5px;
  transform: translatex(-50%);

  &:focus {
    outline: none;
  }
}

.videoplayer__void-button {
  background-color: transparent;
  border: none;
  fill: gray;
  width: 30px;
  height: 30px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}





