@import "https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext";

@font-face {
    font-family: Gagalin;
    src: url('../fonts/Gagalin-Regular.otf')
}

@font-face {
    font-family: Lifehack;
    src: url('../fonts/Lifehack\ Medium.otf')
}