* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
}

.parallax {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 100px;
}
.parallax__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.parallax__img {
  position: absolute;
  bottom: 0;
  left: 0;
}
.parallax__content {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2000px;
  background-color: #d9d93a;
  transform: translateZ(0);
}
.parallax__bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.parallax__layer:nth-child(10) {
  transform: translateZ(0px) scale(1);
}

.parallax__layer:nth-child(9) {
  transform: translateZ(-50px) scale(1.5);
}

.parallax__layer:nth-child(8) {
  transform: translateZ(-100px) scale(2);
}

.parallax__layer:nth-child(7) {
  transform: translateZ(-150px) scale(2.5);
}

.parallax__layer:nth-child(6) {
  transform: translateZ(-200px) scale(3);
}

.parallax__layer:nth-child(5) {
  transform: translateZ(-250px) scale(3.5);
}

.parallax__layer:nth-child(4) {
  transform: translateZ(-300px) scale(4);
}

.parallax__layer:nth-child(3) {
  transform: translateZ(-350px) scale(4.5);
}

.parallax__layer:nth-child(2) {
  transform: translateZ(-400px) scale(5);
}

.parallax__layer:nth-child(1) {
  transform: translateZ(-450px) scale(5.5);
}