.about {
    min-height: $section-height;
    background-image: url('/img/video-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: rem(40px) 0;
    position: relative;
    background-color: #000;
    @include theme($dark-theme: true);
  
    &:after {
      content: "";
      background-image: url('/img/texture.png');
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      top: 0;
      opacity: 0.5;

    }
  
    &__content {
      flex: 1;
      display: flex;
      align-items: center;
      height: 100%;

      @include tablets {
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        max-width: 80%;
      }
    }
  
    &__text {
      font-size: rem(65px);
      color: white;

      @include tablets {
        font-size: 3rem;
      }
    }

    &__desc {
      flex: 1 1 50%;
      line-height: 1;

      @include tablets {
        text-align: center;
      }
    }
  
    &__image {
      padding: rem(0px) rem(35px) rem(70px) rem(35px);
      background-image: url('/icons/drops.svg');
      background-size: contain;
      background-position: 100% 25%;
      background-repeat: no-repeat;
      flex: 1 1 50%;

      @include tablets {
        padding: 0;
        flex: 0;
        min-width: 85%;
        display: flex;
        margin-bottom: 2rem;
        background-position: center;
      }
    }

    &__photo {
      width: auto;
      max-height: 100%;
      display: block;
      margin: auto;
      max-width: 100%;
    }

  &__arrow-down {
    position: absolute;
    bottom: rem(20px);
    left: 50%;
    transform: translateX(-50%);

    @include tablets {
      bottom: -2rem;
    }
  }
  }