.btn {
  
  @include tablets {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
    
    &__link {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
      background-color: $orange;
      color: inherit;
      padding: rem(12px) rem(15px);
      border-radius: rem(4px);
      transition: all 0.3s;
      border: none;
      color: white;
      display: block;
      line-height: 1;

      &:focus {
        outline: none;
      }
  
      &:hover {
        background-color: #c1401e;
        cursor: pointer;
      }
    }

    &--clear {
      button {
        background-color: transparent;
        text-transform: none;
        font-weight: normal;

        &:hover {
          background-color: transparent;
        }
      }
      
    }

    &__text-d {
      @include mobile {
        display: none;
      }
    }

    &__text-m {
      display: none;

      @include mobile {
        display: block;
      }
    }
  
}

.btn--black {
  .btn__link {
    background-color: #2f3234;
    
    &:hover {
      background-color: #1f2122;
    }
  }
}

.close-btn {
  position: absolute;
  right: rem(10px);
  top: rem(20px);
  border: none;
  width: 30px;
  height: 30px;
  transition: all .3s;
  display: none;
  opacity: 0.5;
}

.close-btn:hover {
  opacity: 1;
}

.close-btn:before {
  content: "";
  background-color: white;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 40%;
  transform: rotate(45deg);
  transition: all .3s;
  border-radius: 4px;
}

.close-btn:after {
  content: "";
  background-color: white;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 40%;
  transform: rotate(-45deg);
  transition: all .3s;
  border-radius: 4px;
}
  

