.menu-section {
    min-height: $section-height;
    background-color: white;
    background-image: url('/img/bg-menu.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    @include theme($dark-theme: true);

    .title {
        color: white;
    }

    &__wrapper {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;

        @include tablets {
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }

    &__title-container {
        background-image: url('/img/bg-menu-1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        padding: rem(40px) rem(20px);
        position: relative;

        &:hover {
            cursor: pointer;
        }

        &:after {
            content: "";
            position: absolute;

            background-color: #000000c7;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        @each $number, $bg in $number-bg {
            &--#{$number} {
                background-image: $bg;
            }
        }

        @include tablets {
            padding: rem(40px) 1.5rem;
        }
    }

    &__title {
        font-size: rem(40px);
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        line-height: 1;
        z-index: 5;
        white-space: nowrap;

        @include tablets {
            font-size: 1.5rem;
        }
    }

    &__list {
        display: flex;
        height: 100%;
    }

    &__close-btn {
        position: absolute;
        right: rem(10px);
        top: rem(20px);
        border: none;
        width: 30px;
        height: 30px;
        transition: all .3s;
        display: none;
        opacity: 0.5;
    
      
      &:hover {
        opacity: 1;
      }
      
      &:before {
        content: "";
        background-color: white;
        width: 100%;
        height: 5px;
        position: absolute;
        top: 40%;
        transform: rotate(45deg);
        transition: all .3s;
        border-radius: 4px;
      }
      
      &:after {
        content: "";
        background-color: white;
        width: 100%;
        height: 5px;
        position: absolute;
        top: 40%;
        transform: rotate(-45deg);
        transition: all .3s;
        border-radius: 4px;
      }
    }
        

    &__item {
        display: flex;
        transition: all .5s;
        left: 100%;

        @include tablets {
        }

        @include mobile {
            transition: opacity 0.3s;
        }

        &--active {
            left: 0%;
            transition: all 0.5s;

            @include tablets {
                z-index: 99999;
                overflow: hidden;
            }

            @include mobile {
                z-index: 99999;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                overflow: hidden;
            }

            .menu-section__close-btn {
                @include tablets {
                    display: block;
                }
            }

            .menu-section__item-wrapper {
                width: 40rem;

                @include tablets {
                }

                @include mobile {
                    opacity: 1;
                }
            }

            

            .menu-section__text {
                //width: auto;

            }

            .menu-section__title-container {
                color: $light-orange;
            }
        }
    }

    &__text {
        background-color: #0000008f;
        position: relative;
        overflow: hidden;
        padding: 4rem 2.5rem;
        min-width: 40rem;
        height: 100%;

        @include tablets {
            min-width: 25rem;
        }

        
    }

    &__item-wrapper {
        width: 0vh;
        overflow: hidden;
        transition: all .5s;

        @include mobile {
            transition: opacity .5s;
            opacity: 0;
        }
    }

}

.title--menu-section {
    position: absolute;
    top: 5%;
    left: 5%;
}