.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: OP .3s forwards;

  &__container {
    background-color: white;
    width: auto;
    border-radius: 8px;
    padding: rem(20px);
  }

  &__content {
    margin-bottom: rem(20px);
  }

  &__close {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #e45028;
    color: inherit;
    padding: 0.8571428571rem 1.0714285714rem;
    border-radius: 0.2857142857rem;
    transition: all 0.3s;
    border: none;
    color: white;
    display: block;
    line-height: 1;
    margin: auto;

    &:hover {
      background-color: #c1401e;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

@keyframes OP {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}