.pagination {
    z-index: 99999;
    position: fixed;
    top: 20%;
    right: 5%;

    @include tablets {
      display: none;
    }
  
    &__item {
      padding-bottom: rem(20px);

      &:hover {
        cursor: pointer;
      }
  
      &--active {
  
        div:after {
          content: "";
          position: absolute;
          border: 1px solid white;
          width: rem(16px);
          height: rem(16px);
          border-radius: 50%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  
    &__circle {
      width: 6px;
      height: 6px;
      display: block;
      border-radius: 50%;
      background-color: white;
      position: relative;
    }
  }