html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 1.42;
    position: relative;
    font-weight: lighter;
    line-height: 1.7;

    @include tablets {
        font-size: 14px;
    }

    @include mobile {
        font-size: 12px;
    }
}


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  list-style: none;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
    box-sizing: border-box;
}
  
.section {
    height: 100%;
//    min-width: rem(650px);
    position: relative;
    display: flex;
}
  
a {
    text-decoration: none;
}
  
p {
    margin: 0;
}
  
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
ul li {
    list-style: none;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
  
h2, h4 {
    font-family: $font-titleh2;
}
  
h3 {
    font-family: $font-titleh3;
}
  
table {
    border-collapse: collapse;
    border-spacing: 0;
}
    
.wrapper {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}
    
.wrapper__content {
    flex: 1;
}

.maincontent {
    position: relative;
    height: 100%;
    transform: translateY(0%);
    transition: all 1s;
}

.container {
    width: 95%;
    max-width: rem(940px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
  
 
    &--about {
        z-index: 100;
    }
  
    &--advantages {
        justify-content: center;
        flex-direction: column;
    }
  
    &--flex-start {
        align-items: baseline;
    }
  
    &--review {
        padding: 0;
        display: flex;
        flex: 1;
    }

    &--slider {
        flex-wrap: nowrap;
    }
      
}

.title {
    font-family: $font-titleh2;
    font-size: 4rem;
    color: $light-orange;
    line-height: normal;
  
    &--advantages {
      margin-bottom: rem(45px);
      color: $dark-gray;
    }

    &--order {
        margin-bottom: rem(40px);
    }

    &--team {
        width: 100%;
        margin-bottom: rem(50px);
    }

    &--slider {
        color: white;
        margin-bottom: rem(50px);
    }

    @include tablets {
        text-align: center;
    }
}
